@* @* @* @model assignment_mvc_carrental.Models.BookingViewModel

@{
    ViewData["Title"] = "Delete";
}

@* Notis om man kommer hit efter att det gått fel med radering
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<br>
<h1>Delete reservation</h1>
<hr />
<h5>Are you sure you want to delete this?</h5>
<br>
<div>    
    <p><strong>Customer:</strong> @Model.CustomerFirstName @Model.CustomerLastName</p>
    <p><strong>Vehicle:</strong> @Model.VehicleTitle</p>
    <p><strong>Pick up:</strong> @Model.StartDate</p>
    <p><strong>Drop off:</strong> @Model.EndDate</p>
    <p><strong>Total price:</strong> @Model.TotalPrice</p>

</div>
<br>
<form asp-action="DeleteBooking" method="post">
     <input type="hidden" name="bookingId" value="@Model.Id" />
     <button type="submit" class="btn btn-danger"> Delete reservation</button>
</form>
<br>
<br>
<br>
<div>
    <a class="links" asp-action="Edit" asp-route-id="@Model?.Id">Edit reservation instead</a> |
    <a class="links" asp-controller="Home" asp-action="Index">Back to homepage</a>
</div>*@

