@model assignment_mvc_carrental.Models.BookingViewModel

@{
    ViewData["Title"] = "Details";
}

<br>
<h1>Reservation details</h1>

<div>
    <hr />
    <p><strong>Kund:</strong> @Model.CustomerName</p>
    <p><strong>Fordon:</strong> @Model.VehicleName</p>
    <p><strong>Hämtning:</strong> @Model.StartDate</p>
    <p><strong>Återlämning:</strong> @Model.EndDate</p>
    <p><strong>Totalpris:</strong> @Model.TotalPrice</p>
@*     <p><strong>Bokningsdatum:</strong> @Model.BookingDate.ToString("yyyy-MM-dd")</p>
 *@        
</div>
<div>
    <a class="links" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="links" asp-action="Index">Back to List</a>
</div>
