@model IEnumerable<assignment_mvc_carrental.Models.BookingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All reservations</h1>

<p>
    <a class="links" asp-action="Create">Create new reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Vehicle:
            </th>
            <th>
                Customer:
            </th>
            <th>
                Start:
            </th>
            <th>
                End:
            </th>
            <th>
                Total price:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
