@model IEnumerable<assignment_mvc_carrental.Models.VehicleViewModel>

@{
    ViewData["Title"] = "Index";
}

@* Notis om man kommer hit efter att man har raderat en bokning*@
@if (TempData["SuccessMessage"] != null) 
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<br>
<h1>Our premium vehicles</h1>

@* <p>
    <a asp-action="Create">Create New</a>  //Endast för admin?
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                Preview
            </th>
            <th>
                Name
            </th>
            <th>
                Year Made
            </th>
            <th>
                Rental price per day
            </th>
            <th>
                Availablity
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.ImageUrl1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl2)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.ImageUrl1" alt="Bild 1" style="max-width: 100%;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay) kronor
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
         @*    <td>
                @Html.DisplayFor(modelItem => item.ImageUrl1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl2)
            </td> *@
            <td>
@*                 <a class="links" asp-action="Edit" asp-route-id="@item.Id">Edit</a>          Bara för admin??
 *@                <a class="links" asp-action="Details" asp-route-id="@item.Id">Details</a> 
@*                 <a class="links" asp-action="Delete" asp-route-id="@item.Id">Delete</a>      Bara för admin??
 *@            </td>
        </tr>
}
    </tbody>
</table>
